* {
    box-sizing: border-box;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkblue;
    color: whitesmoke;
    margin: 0;
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
        
    }
dl {
    padding: 7em;

}

  dt::after {
    content: ":";
  }

  dl {
    display: flex;
    flex-wrap: wrap;
  }
  dt {
    width: 44%;
  }
  dd {
    margin-left: auto;
    width: 55%;
  }